# bagging案例

In [1]:
import pandas as pd 
df_wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data',
                     header=None)
df_wine.head()

   0      1     2     3     4    5     6     7     8     9     10    11    12    13
0   1  14.23  1.71  2.43  15.6  127  2.80  3.06  0.28  2.29  5.64  1.04  3.92  1065
1   1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.38  1.05  3.40  1050
2   1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81  5.68  1.03  3.17  1185
3   1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18  7.80  0.86  3.45  1480
4   1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82  4.32  1.04  2.93   735

In [3]:
df_wine.columns = ['label', 'Alcohol'
,'Malic ac'
,'Ash'
,'Alcalinity of ash ' 
,'Magnesium'
,'Total phenols'
,'Flavanoids'
,'Nonflavanoid phenols'
,'Proanthocyanins'
,'Color intensity'
,'Hue'
,'OD280/OD315 of diluted wines'
,'Proline'       ]
df_wine.head()

   label  Alcohol  Malic ac   Ash  ...  Color intensity   Hue  OD280/OD315 of diluted wines  Proline
0      1    14.23      1.71  2.43  ...             5.64  1.04                          3.92     1065
1      1    13.20      1.78  2.14  ...             4.38  1.05                          3.40     1050
2      1    13.16      2.36  2.67  ...             5.68  1.03                          3.17     1185
3      1    14.37      1.95  2.50  ...             7.80  0.86                          3.45     1480
4      1    13.24      2.59  2.87  ...             4.32  1.04                          2.93      735

[5 rows x 14 columns]

In [4]:
Y = df_wine.label
X = df_wine.iloc[:,1:]

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size = 0.30,random_state = 1)

In [7]:
X_train.shape,X_test.shape

((124, 13), (54, 13))

In [8]:
from sklearn.model_selection import cross_val_score,RepeatedStratifiedKFold
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
import numpy as np 
tree = DecisionTreeClassifier()

bag_model = BaggingClassifier(base_estimator=tree,
                             n_estimators=100,
                             max_samples=1.0,
                             max_features=1.0,
                             bootstrap=True,
                             bootstrap_features=True,
                             n_jobs=-1,
                             random_state=1)


cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores_en = cross_val_score(bag_model, X_train, y_train, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
n_scores_tree = cross_val_score(DecisionTreeClassifier(), X_train, y_train, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
# report performance
print('Bagging:Accuracy: %.3f (%.3f)' % (np.mean(n_scores_en), np.std(n_scores_en)))
print('tree   :Accuracy: %.3f (%.3f)' % (np.mean(n_scores_tree), np.std(n_scores_tree)))

Bagging:Accuracy: 0.979 (0.041)
tree   :Accuracy: 0.922 (0.075)

In [9]:
from sklearn.metrics import accuracy_score
base_tree = DecisionTreeClassifier()

base_tree.fit(X_train,y_train)
y_test_pred = base_tree.predict(X_test)
print('tree   :Accuracy: %.3f' % (accuracy_score(y_pred=y_test_pred,y_true=y_test)))

bag_model.fit(X_train,y_train)
y_test_pred = bag_model.predict(X_test)
print('Bagging:Accuracy: %.3f' % (accuracy_score(y_pred=y_test_pred,y_true=y_test)))

tree   :Accuracy: 0.944
Bagging:Accuracy: 0.981